{% extends 'template.html.twig' %}
{% block titleNav %} {{ 'categ_edit' }} {%  endblock %}
{% block title %}Edit Categ{% endblock %}

{% block main %}
    <h1>Edit Categ</h1>

    {{ include('categ/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categ_index') }}">back to list</a>

    {{ include('categ/_delete_form.html.twig') }}
{% endblock %}
