{% extends 'template.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <table>
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{% for role in user.roles %}
                            {{ role }},
                        {% endfor %}</td>
                        <td><a href="{{ path('admin_edit', {'id':user.id }) }}">Ajouter/Retirer admin</a></td>
                        <td><a href="{{ path('admin_delete', {'id':user.id }) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
